html,
body {
  height: 100%;
}


nav {
    display: flex;
    align-items: center;
    padding: 1em 0;
  }
  
  .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
  }
  
  .navigation-item {
    margin: 0.5em;
  }